.vscode/**
.vscode-test/**
out/**
node_modules/**
!node_modules/office-scripts-plugin/**
src/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
!tsconfig.osts.json
**/eslint.config.mjs
**/*.map
**/*.ts
!types/**/*.d.ts
!snippets/**
!syntaxes/**
!icons/**
!language-configuration.json
**/.vscode-test.*
